# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Django stuff
db.sqlite3
media/
staticfiles/

# IDEs/editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Custom ignores
relation/


